:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #333333;
}

.body {
    background-color: #e5e5e5;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}
